# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# local env
.env
.env*.local
!.env.example

# logs and cache
*.log
.turbo/
tsconfig.tsbuildinfo

# system/editor
.DS_Store
.idea/
.vscode/
.vercel
